extends layout

block content
  h1= title
  p Welcome to #{title}
  each station in Stations
    .card
      .card-block
        h5.card-title #{station.Name}
        img.card-img-top(src=''+station.ImageUrl alt='rysunek' style={width:'200px'})
        p.card-text bla bla bla bla bla
        a.btn.btn-primary(href='/play/' + station.Id) Play