extends layout
block content
  app-stationslist  
block scripts
  script(src='/build/es2015-polyfills.41976a8133a2445ac0d9.js')
  script(src='/build/polyfills.f1a86b50434b1a515c5a.js')
  script(src='/build/main.219df660e1c8a4af81b3.js') 
  script(src='/build/runtime.b57bf819d5bdce77f1c7.js')