<div class="card-header">
  <ul class="nav nav-pills card-header-pills">
    <li  class="nav-item" *ngFor="let category of categories">
      <a href="#" [ngClass] = "{'nav-link': true, 'active': category===selectedCategory}" (click)="!!setCategory(category)">{{category}}</a>
    </li>
  </ul>
</div>
<div *ngFor="let station of visibleStations" class="card-block">
  <h5 class="card-title">{{station.name}}</h5>
  <img class="card-img-top" src={{station.imageUrl}} alt="rysunek" style="width:200px;" />
  
  <p class="card-text">bla bla bla bla bla</p>
  <button class="btn btn-primary" (click) = "playStation(station)" style="margin: 10px">Play</button>
  <button class="btn btn-primary" (click) = "stopStation(station)" style="margin: 10px">Stop</button>
  <br>
</div>