<header class="page-header">
    <h1>{{ title }}</h1>
    <div class="navbar navbar-expand-md navbar-dark bg-dark">
        <p><a href='/'>Home</a> | <a href="/notes/add">ADD NOTE</a></p>
    </div>
</header>